body {
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: flex-end;
  }

  #message-container {
    width: 80vmin;
    max-width: 1200px;
    background-color: lightgrey;

  }

  #send-container {
    position: fixed;
    padding-bottom: 20%;
    bottom: 0;
    background-color: white;
    max-width: 1200px;
    width: 80%;
    display: flex;
  }

  #message-input {
    width: 70vmin;
  }
