body { 
    height: 100%;
    width: 100%;
    margin-top: 0;
    justify-content: center;
    background-color: green;
    
}

.message-container {
    background-color: orange;
    width: 80%;
    max-width: 1200px;
}

#send-container {
    position: fixed;
    padding-bottom: 30px;
    bottom: 0;
    background-color: white;
    max-width: 1200px;
    width: 80%;
    display: flex;
}
